In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

import os
print(os.listdir())

import warnings

['mycsvfile.csv', '.virtual_documents', '__notebook_source__.ipynb']

In [73]:
df_heart = pd.read_csv("/kaggle/input/thapar/Train_dataset.csv")

In [72]:
type(df_heart)

pandas.core.frame.DataFrame

In [74]:
df_heart.shape

(242, 15)

In [75]:
df_heart.columns

Index(['age', 'sex', 'cp', 'trtbps', 'chol', 'fbs', 'restecg', 'thalachh',
       'exng', 'oldpeak', 'slp', 'caa', 'thall', 'output', 'patient_id'],
      dtype='object')

In [76]:
df_heart.head(5)
# 1 for male(sex)
#0 for female(sex)

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,patient_id
0,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0,179
1,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0,228
2,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1,111
3,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0,246
4,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1,60

In [77]:
df_heart.sample(5)
#1 means patient is suffering from heart disease.
# 0 means not suffering.

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,patient_id
31,61,1,0,140,207,0,0,138,1,1.9,2,1,3,0,284
18,46,1,0,140,311,0,1,120,1,1.8,1,2,3,0,285
209,41,1,1,120,157,0,1,182,0,0.0,2,0,2,1,162
165,56,1,1,130,221,0,0,163,0,0.0,2,0,3,1,159
159,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0,194

In [ ]:
print("Total No of disease")
print(len(df_heart.output.unique()))

In [ ]:
df_heart["output"].unique()
#0 for no disease.
#1 for heart disease.

In [ ]:
df_heart.groupby('output').size()
#0 for no disease.
#1 for heart disease.

In [ ]:
df_heart["output"].value_counts()

In [ ]:
# Visualization of the frequency distribution.
f , ax = plt.subplots(figsize=(8, 6))
ax = sns.countplot(x="output" , data=df_heart)
plt.show()

In [ ]:
df_heart.groupby('sex')['output'].value_counts()
# 1 for male(sex)
#0 for female(sex)

In [ ]:
f , ax = plt.subplots(figsize=(8, 6))
ax = sns.countplot(x="sex" ,hue="output" ,data=df_heart)
plt.show()

In [ ]:
ax = sns.catplot(x ="output" ,col="sex" ,data=df_heart ,kind="count" ,height=5 ,aspect=1)

In [ ]:
df.to_csv('mycsvfile.csv',index=False)